<a href="https://colab.research.google.com/github/19PA1A04B9/PYTHON-BASICS/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
facebook=pd.read_csv("pseudo_facebook.csv.zip")
print(facebook)

        userid  age  ...  www_likes  www_likes_received
0      2094382   14  ...          0                   0
1      1192601   14  ...          0                   0
2      2083884   14  ...          0                   0
3      1203168   14  ...          0                   0
4      1733186   14  ...          0                   0
...        ...  ...  ...        ...                 ...
98998  1268299   68  ...        491                6202
98999  1256153   18  ...          2                2820
99000  1195943   15  ...          0                1092
99001  1468023   23  ...          0                 756
99002  1397896   39  ...          0                2913

[99003 rows x 15 columns]